body{
  text-align: center;
}
.tindog-brand{
  font-size: 4.5rem;
}
#title {
  background-color: #ff4c68;
  position: relative;
  z-index: 1000;
  text-align: left;
}
.title-button{
  margin-left: 2rem;
}

/* Headings & Paragraphs */
h1, h2, h3 ,h4, h5, h6{
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 1.5;
}
.big-heading{  
  font-size: 4rem;
  color: #fff;
}
h2 {  
  font-size: 3rem;
}
h3 {
  color: #00000f;
}
#carousel-sample-text{
  visibility: hidden;
  position:absolute;
}
.pricing-paragraph{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom:2rem;
}

/* Navbar */
.iphonedog {
  position: absolute;

  transform: rotate(20deg);
  padding: 2rem 0 9rem 8rem;
  width: 30rem;
  height: auto;
}
#mynavbar {
  font-size: 1.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
}
.navbar {
  padding-bottom: 0 0 4.5rem;
}

/* Containers */
.container-fluid {
  padding: 3% 15% 7%;
}


/* FeaturesSection */

#features {
  position: relative;
  font-family: "Montserrat";
  color: #8f8f8f;
  margin: auto 0rem;
  background-color: #fff;
  font-size: 1.5rem;
  z-index: 1010;
  padding: 5rem 0;
}
.feature-icons {
  color: #ef8172;
}
.feature-icons:hover {
  color: #ff4c68;
}


/* Testimonial Section*/

#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.user-testimonials{
  margin: auto 7rem;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 8rem;
}

.price-col {
  padding: 5% 3%;
}
.price-button {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Call to Action */
#cta {  
  font-family: "Montserrat";
  font-weight: 800;
  background-color: #ff4c68;
}
.cta-button{
  margin: 0.5rem;
}

/* BREAKPOINTS */

@media (max-width: 991px) {
  .tindog-brand{
    font-size: 3.2rem;
  }
  .iphonedog {
    position: static;
    transform: rotate(3deg);
    padding: 2rem;
    width:18rem;
    margin-left: -2rem;
  }
  #title {
    text-align: center;
  }
  .big-heading{
    font-size: 2.5rem;
  }
  .title-button{
    margin-left: 3px;
  }
  .testimonial-text{
    font-size: 2.3rem;
  }
  .testimonial-image {
    border-radius: 100%;
    width: 30%;
    margin: 20px;
  }
  #carousel-sample-text{
    position:relative;
  }
  .pricing-paragraph{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem -2rem;
  
  }
  .price-col {
    padding: 5% 3%;
    margin: auto;
    size-adjust: auto;
    text-size-adjust: auto;
  }

}

